/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Root */
:root {
	--ltbrown: rgb(250, 243, 224);
	--mdbrown: rgb(234, 191, 159);
	--dkbrown: rgb(182, 137, 115);
	--offblack: rgb(30, 33, 45);

	--ltpeach: rgb(253, 239, 239);
	--mdpeach: rgb(244, 223, 208);
	--ltolive: rgb(218, 208, 194);
	--dkolive: rgb(205, 187, 167);
}

/* Elements */
body {
	background-color: var(--ltpeach);
	font-family: "Cormorant Garamond", serif;
}
#social-media a {
	text-decoration: none;
	color: var(--offblack);
	display: inline-block;
}
#social-media a:hover {
	color: var(--dkolive);
	content: "hello";
	transform: translate(15px, -0);
	opacity: 85%;
}

/* General Use CSS */
.txt-lt-wt {
	font-weight: 300;
}
.txt-hvy-wt {
	font-weight: 700;
}
.text-md-wt {
	font-weight: 500;
}
.title-text {
	font-size: 5em;
}
.title-subtext {
	font-size: 2.25em;
}
@media only screen and (max-width: 600px) {
	.title-text {
		font-size: 4em;
	}
}
.basic-img {
	max-height: 55vh;
}
#view-selection-button {
	width: 250px;
	height: 7vh;
	background-color: var(--ltpeach);
	border: 2px var(--dkbrown) solid;
	font-size: 1.5em;
	background: linear-gradient(
		to right,
		var(--ltolive) 0%,
		var(--ltolive) 50%,
		var(--ltpeach) 50%,
		var(--ltpeach) 100%
	);
	background-size: 200% 100%;
	background-position: 100% 0;
	transition: background-position 0.3s;
}
#view-selection-button:hover {
	background-position: 0 0;
}

/* Navbar */
.navbar-light {
	background-color: var(--mdpeach) !important;
}

/* Landing Page */
@media only screen and (max-width: 992px) {
	#landing-page-text {
		margin-left: -150px;
		margin-right: 150px;
	}
}
@media only screen and (max-width: 992px) {
	#landing-page-text {
		margin-left: -150px;
		margin-right: 150px;
	}
}
@media only screen and (max-width: 768px) {
	#landing-page-text {
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}
}

/* Gallery */
.gallery-img {
	width: 225px;
	height: 225px;
	border: solid thick var(--dkolive);
}
@media only screen and (max-width: 993px) {
	.gallery-img {
		width: 400px;
		height: 400px;
		margin-bottom: 50px;
	}
}
@media only screen and (max-width: 600px) {
	.gallery-img {
		width: 250px;
		height: 250px;
		margin-bottom: 50px;
	}
}

/* Contact */
.vert-break {
	border-left: 3px solid var(--dkolive);
	height: 60vh;
}

/* Bootstrap Changes */
.form-label {
	font-size: 1.25em;
}
.form-control,
.form-select {
	border: solid var(--offblack) thin;
}

/* Media Query Template */
@media only screen and (max-width: 600px) {
	X {
		background-color: lightblue;
	}
}

.transition-fade {
	transition: 0.4s;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

.modal-button,
.modal-content {
	background-color: var(--dkolive);
}

.modal img {
	max-height: 65vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#gallery button {
	outline: none;
	border: none;
	background: none;
}
